<main>
  <div fxLayout="row nowrap" fxFill>
    <div fxFlex="50%">
      <div class='wrapper'>
        <ngx-tree-dnd-container
          [model]="nestedLists"
          [actions]="actions"
          [labelKey]="'title'">
        </ngx-tree-dnd-container>
      </div>
    </div>
    <div fxFlex="25%">
      <h3>Model</h3>
      <code>
        <pre>nestedLists = {{nestedLists | json}}</pre>
      </code>
    </div>
    <div fxFlex="25%">
      <h3>Using Components</h3>
      <pre><code ngNonBindable>
        <![CDATA[<ngx-tree-dnd-container
          [model]="nestedLists"
          [actions]="actions">
        </ngx-tree-dnd-container>]]>
      </code></pre>
    </div>
  </div>
</main>
